# Env
.venv/

# IDE
.idea/

# Python
__pycache__/
*.py[cod]

# Mac
.DS_Store

# Outputs
output/

# VsCode
.vscode/

# Claude
.claude/

# Videos
videos/

# Images
images/

# External files
external/

# Models
models/

# YOLO Pose models
library/signal_extractors/YOLOPoseModels/
library/YOLOPoseModels/

# Datasets
datasets/

.DS_Store
__pycache__/
*.pyc
.venv/
